.listPadding{
    width: calc(100% - 4rem);
    padding: 2rem;
    min-height: calc(100dvh - 4rem);
}

.listPadding .findArea{
    width: 100%;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0,0,0,.2);
    border-radius: 10px;
    height: 50px;
    display: grid;
    grid-template-columns: 1fr auto;
    padding-right: .5rem;
}

.listPadding .findArea .searchIcon{
    width: 20px;
    font-size: 20px;
    margin-left: .5rem;
}

.listPadding .findArea .findInput{
    background: none;
    border: none;
    outline: none;
    padding-left: 1rem;
    font-size: 17px;
}

.tableArea {
    width: 100%;
    height: calc(100% - 5rem);
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0,0,0,.2);
    border-radius: 10px;
}

.listPadding .tableArea .tableGrid3{
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr 1fr;
    height: 50px;
    align-items: center;
}

.listPadding .tableArea .tableHeader{
    background-color: #f9f9f9;
    padding: 0 1rem;
    border-radius:  10px 10px 0 0;
}

.listPadding .tableArea .tableItem{
    padding: .5rem 1rem;
    border-top: 1px solid rgba(0,0,0,.05);
    font-size: 14px;
}

.listPadding .tableArea .tableGrid3 a{
    text-align: end;
    opacity: 0.4;
    color: #000;
    text-decoration: none;
    transition: ease .3s;
    display: flex;
    gap: .3rem;
}

.listPadding .tableArea .tableGrid3 a:hover{
    opacity: 1;
}

@media (max-width: 858px){
    .tableHeader h3{
        font-size: 14px;
    }
    .tableItem h3{
        font-size: 13px;
    }
    .tableItem p, .tableItem a{
        font-size: 11px;
    }
    .tableHeader p, .tableHeader a{
        font-size: 11px;
    }
    .tableItem img{
        display: none;
    }
    .findInput{
        font-size: 12px;
    }
}